<div class="container">
    <div class="panel panel-primary panel-body1" style="margin-top: 100px;">
        <div class="panel-body">


            <div class="card">
                <div class="card-body">


                    <div>
                        <!-- <span (click)="redirectToLogin()"><i style="float: left;padding-top: 40px; padding-left: 7px; cursor: pointer;" class="carousel-control-prev-icon"></i></span> -->
                        <h3 class="card-title">Update your Password here!</h3>
                        

                    </div>
                    
                    <!-- <h6 class="card-subtitle mb-2">Get Best Discount On All Type Of Gadgets</h6> -->

                    <div>

                        <div style="margin: 20px;">

                            <form [formGroup]="updateForm">
                                <!-- Email input -->

                                <div class="form-outline mb-4">
                                    <label class="form-label"  style="float: left;color:white" for="form2Example5">Username:</label>
                                    <input type="text" formControlName="username" id="form2Example5" class="form-control"/>
    
                                    <div style="float: left;" *ngIf="updateForm.controls['username'].errors">
                                    <span *ngIf="updateForm.controls['username'].errors?.['required'] && !updateForm.controls['username'].pristine" class="error-message">Username is required</span>
                                    <span *ngIf="updateForm.controls['username'].errors?.['minlength']" class="error-message">Username should contain atleast 3 characters</span>
                                    </div>
    
                                    
                                </div>

                                <div class="form-outline mb-4" style="margin-bottom: 0px;">
                                    <label class="form-label" style="float: left;color:white" for="form2Example4">Current Password:</label>
                                    <input placeholder="Enter Current Password" type="password" formControlName="currentPassword" id="form2Example4" class="form-control" />
    
    
                                    <div style="float: left;" *ngIf="updateForm.controls['currentPassword'].errors">
                                        <span *ngIf="updateForm.controls['currentPassword'].errors?.['required'] && !updateForm.controls['currentPassword'].pristine" class="error-message">Current Password is required</span>
                                        <span *ngIf="updateForm.controls['currentPassword'].errors?.['pattern']" class="error-message">Current Password is incorrect</span>
                                    </div>
    
                                </div>
    
                                <!-- Password input -->
                                <div class="form-outline mb-4" style="margin-bottom: 0px;">
                                    <label class="form-label" style="float: left;color:white" for="form2Example2">New Password:</label>
                                    <input placeholder="Enter New Password" type="password" formControlName="newPassword" id="form2Example2" class="form-control" />
    
    
                                    <div style="float: left;" *ngIf="updateForm.controls['newPassword'].errors">
                                        <span *ngIf="updateForm.controls['newPassword'].errors?.['required'] && !updateForm.controls['newPassword'].pristine" class="error-message">New Password is required</span>
                                        <!-- <span *ngIf="updateForm.controls['newPassword'].errors?.['minlength']" class="error-message">Password should contain atleast 8 characters</span> -->
                                        <span *ngIf="updateForm.controls['newPassword'].errors?.['matchedValidator']" class="error-message">New Password cannot be an Old Password</span>
                                        <span *ngIf="updateForm.controls['newPassword'].errors?.['pattern']" style="float: left;" class="error-message">Password should contain atleast an uppercase, a lowercase, a digit and a special character</span>
                                    </div>
    
                                </div>

                                <div class="form-outline mb-4" style="margin-bottom: 0px;">
                                    <label class="form-label" style="float: left;color:white" for="form2Example3">Confirm New Password:</label>
                                    <input placeholder="Re-enter New Password" type="password" formControlName="confirmNewPassword" id="form2Example3" class="form-control" />
    
    
                                    <div style="float: left;" *ngIf="updateForm.controls['confirmNewPassword'].invalid">
                                        <span *ngIf="updateForm.controls['confirmNewPassword'].errors?.['confirmedValidator']" class="error-message">Password deos not match</span>
                                    </div>
    
                                </div>

                                <div *ngIf="errorMessage" style="padding-top: 10px;">
                                    <span class="error-message">{{errorMessage}}</span>
                                </div>

                                <div *ngIf="successMessage" style="color: lightgreen; font-size: medium; padding-top: 10px;">
                                    <span>{{successMessage}}</span>
                                    <div>You will be logged out after {{timeLeft}} seconds. Relogin using new credentials.</div>
                                </div>
    
                                <div style="padding-top: 20px;">
                                    <button [disabled]="!updateForm.valid" (click)="updatePassword()" class="btn btn-outline-light">Update Password</button>
                                </div>
                        
                            </form>

                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>